# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv/
venv/
ENV/
env/

# Environment Variables
.env
.env.local
.env.*.local

# IDEs & Editors
.vscode/
.idea/
*.swp
*.swo

# C# / ASP.NET Core
[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.sln.docstates

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# Operating System
.DS_Store
Thumbs.db
